@import "tailwindcss";

@theme {
  --color-primary: #005baf;
  --color-surface-tint: #005eb3;
  --color-on-primary: #ffffff;
  --color-primary-container: #0074db;
  --color-on-primary-container: #fefcff;
  --color-secondary: #3f5f8f;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #a8c8fe;
  --color-on-secondary-container: #335382;
  --color-tertiary: #8a31ae;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #a64dc9;
  --color-on-tertiary-container: #fffbff;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-background: #f9f9ff;
  --color-on-background: #181c23;
  --color-surface: #f9f9ff;
  --color-on-surface: #181c23;
  --color-surface-variant: #dce2f3;
  --color-on-surface-variant: #404754;
  --color-outline: #717785;
  --color-outline-variant: #c0c6d6;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #2d3038;
  --color-on-inverse-surface: #eef0fb;
  --color-inverse-primary: #a8c8ff;
  --color-primary-fixed: #d5e3ff;
  --color-on-primary-fixed: #001b3c;
  --color-primary-fixed-dim: #a8c8ff;
  --color-on-primary-fixed-variant: #004689;
  --color-secondary-fixed: #d5e3ff;
  --color-on-secondary-fixed: #001b3c;
  --color-secondary-fixed-dim: #a8c8fe;
  --color-on-secondary-fixed-variant: #264776;
  --color-tertiary-fixed: #f9d8ff;
  --color-on-tertiary-fixed: #320046;
  --color-tertiary-fixed-dim: #edb1ff;
  --color-on-tertiary-fixed-variant: #721296;
  --color-surface-dim: #d7dae4;
  --color-surface-bright: #f9f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f3fe;
  --color-surface-container: #ebedf8;
  --color-surface-container-high: #e5e8f2;
  --color-surface-container-highest: #e0e2ec;

  --font-sans:
    "Noto Sans TC", ui-ans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --spacing-status-bar: 62px;
  --height-safe-content: calc(100vh - 62px);
}

.dark {
  --color-primary: #a8c8ff;
  --color-surface-tint: #a8c8ff;
  --color-on-primary: #003062;
  --color-primary-container: #004689;
  --color-on-primary-container: #d5e3ff;
  --color-secondary: #a8c8fe;
  --color-on-secondary: #0a305f;
  --color-secondary-container: #264776;
  --color-on-secondary-container: #d5e3ff;
  --color-tertiary: #edb1ff;
  --color-on-tertiary: #530074;
  --color-tertiary-container: #721296;
  --color-on-tertiary-container: #f9d8ff;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-background: #101318;
  --color-on-background: #e1e2ec;
  --color-surface: #101318;
  --color-on-surface: #e1e2ec;
  --color-surface-variant: #404754;
  --color-on-surface-variant: #c0c6d6;
  --color-outline: #8a91a0;
  --color-outline-variant: #404754;
  --color-inverse-surface: #e1e2ec;
  --color-on-inverse-surface: #101318;
  --color-inverse-primary: #005baf;
  --color-surface-dim: #101318;
  --color-surface-bright: #363940;
  --color-surface-container-lowest: #0b0e13;
  --color-surface-container-low: #181c23;
  --color-surface-container: #1c2027;
  --color-surface-container-high: #272a32;
  --color-surface-container-highest: #31353d;
}

/* Display */
@utility display-lg {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
@utility display-lg-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
@utility display-md {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
}
@utility display-md-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
}
@utility display-sm {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}
@utility display-sm-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}

/* Headline */
@utility headline-lg {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
}
@utility headline-lg-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
}
@utility headline-md {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
}
@utility headline-md-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
}
@utility headline-sm {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}
@utility headline-sm-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

/* Title */
@utility title-lg {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
}
@utility title-lg-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
}
@utility title-md {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
@utility title-md-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
@utility title-sm {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
@utility title-sm-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

/* Label */
@utility label-lg {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
@utility label-lg-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
@utility label-md {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
@utility label-md-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
@utility label-sm {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
@utility label-sm-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/* Body */
@utility body-lg {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@utility body-lg-emphasis {
  font-family: var(--font-sans);
  font-weight: 700; /* Assuming bold for emphasis */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@utility body-md {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
@utility body-md-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
@utility body-sm {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
@utility body-sm-emphasis {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
